{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>About Node JS</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi explicabo at est vel, pariatur laborum. Voluptatum aperiam repudiandae cumque ipsum eaque totam, dignissimos, neque unde mollitia eum quo quisquam. Ducimus?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/logo-node.svg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}